body{
	margin: 0px;
	font-family: 'Asap', sans-serif;
}

/* Loading */

#loading-container{
	height: calc(100vh);
	width: calc(100vw);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgb(30, 30, 30);
}

#spinner{
	font-size: 36px;
	color: white;
}

#loading{
	color: white;
}

/* Main */

#main-container{
	display: none;
}

.topnav{
	background-color: rgb(30, 30, 30);
	overflow: hidden;
	width: 101%;
}

#bw{
	float: left;
	font-weight: bolder;
}

.topnav a {
	float: right;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	height: 100%;
}

.aTag:hover {
	background-color: #ddd;
	color: black;
}

#picThing{
	background-color: black;
	width: calc(100vw);
	height: calc(50vh);
	display: flex;
	align-items: center;
	justify-content: center;
}

#pic{
	background-image: url("../assets/flowers.jpg");
	height: 90%;
	width: 99%;
}

#bw-container{
	display: flex;
	flex-direction: row;
	width: calc(100vw);
	height: calc(50vh);
}

.bigger{
	width: calc(50vw);
	height: calc(50vh);
	display: flex;
	align-items: center;
	justify-content: center;
}

.smaller{
	height: 100px;
	width: 100px;
}

#big-black{
	background-color: rgb(30, 30, 30);
}

#small-black{
	background-color: rgb(30, 30, 30);
	position: relative;
	animation-name: blackWhite;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#big-white{
	background-color: white;
}

#small-white{
	background-color: white;
	position: relative;
	animation-name: whiteBlack;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#modal{
	display: none;
	position: fixed;
	z-index: 2;
	right: 0px;
	bottom: 0px;
	background-color: #ff0000;
}

#modal-content{
	margin: auto;
	border-color: 1px solid #888;
	width: 200px;
	height: auto;
	text-align: center;
}

#close{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#close:hover{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#requestBtn{
	height: auto;
	width: 90%;
	font-size: 18px;
	margin-bottom: 25px;
}

#specialContainer{
	display: flex;
	flex-direction: row-reverse;
}

#modalText{
	font-size: 33px;
	margin-right: 10px;
	margin-bottom: 15px;
}

#gform{
	display: none;
	margin: auto;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

@keyframes whiteBlack{
	0% {left: 0px;}
	50% {left: 755px;}
	100% {left: 0px;}
}

@keyframes blackWhite{
	0% {right: 0px;}
	50% {right: 755px;}
	100% {right: 0px;}
}